<div class="top-bar">
    <h1>NoteBill</h1>
    
</div>


<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form style="padding: 20px;"(formSubmit)="addItem($event)"></app-add-item-form>
    </div>
    
</section>

<hr style="margin-top: 0;">



<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)" (update)="updateItem($event)"></app-budget-item-list>
<footer>
    <div class="field is-grouped">
        <p class="control">
          <button class="button is-warning is-light" [routerLink]="'/main'">
            Calculate Budget
          </button>
        </p>
      
        <p class="control">
            <button class="button is-info is-light" [routerLink]="''">Logout</button>
        </p>
      </div>
</footer>



